table {
  width: 100%;
  margin-bottom: 0.1rem;
  box-shadow: none;
}

table th{
  font-weight: 500;
  font-size: 1.2rem;
  color: black;
}

table td{
  font-weight: 500;
  font-size: 1rem;
  color: rgb(70, 69, 69);
}

.hide{
  display: none;
}

.noDataInfo{
    padding: 1.5rem;
    padding-left: 1.5rem;
}
